<!-- Contact Section -->
<section id="contact" class="section-content bg2">
<div class="container">
  <div class="row">
    <!-- Section title -->
    <div class="section-title item_bottom text-center">
      <div>
        <span class="fa fa-envelope fa-2x"></span>
      </div>
      <h1><span><%= t :contact %></span></h1>
    </div>
    <!-- End Section title -->
  </div>
  <div class="row item_fade_in">
    <div class="col-md-6 col-md-offset-3 text-center contact-block">
      <!-- Contact Details -->
      <i class="fa fa-map-marker fa-3x"></i>
      <!-- End Contact Details -->
      <!-- Social Icon -->
      <div class="social-icon">
        <a href="https://www.facebook.com/ninogilberto"><i class="fa fa-facebook-square fa-3x"></i></a>
        <a href="https://twitter.com/retwittgil"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="https://github.com/gtovar"><i class="fa fa-github-square fa-3x"></i></a>
      </div>
      <!-- End Social Icon -->
    </div>
  </div>
  <div class="row item_fade_in" id="contact_form">
    <h4 class="text-center"><%= t :email_description %></h4>
    <div class="col-md-6 col-md-offset-3">
      <div class="form-respond text-center">
      </div>
      <form method="post" name="contactform" id="contactform" class="form validate item_bottom" role="form">
          <div class="form-group">
              <input type="text" name="name" id="name" class="form-control required" placeholder="Name">
          </div>
          <div class="form-group">
              <input type="email" name="email" id="email" class="form-control required email" placeholder="Email">
          </div>
          <div class="form-group">
              <textarea name="message" id="message" class="form-control input-lg required" rows="9" placeholder="Enter Message"></textarea>
          </div>
          <div class="form-group">
              <%= recaptcha_tags %>
          </div>
          <div class="form-group text-center">
              <input type="submit" id="contactForm_submit" class="btn btn-trans btn-border btn-full" value="Submit">
          </div>
      </form>
    </div>
  </div>
  <!-- End form contact -->
</div>
</section>
<!-- End Contact Section -->
<!-- Google maps -->
<%= content_for :javascript_code do %>
    <script>
        $(document).ready(function(){
            $("#contactform").on('ajax:success', function(event, data, status, xhr) {
                console.log("Great!");

                // use data to access to your json data structure
            });

            $("#contactform").on('ajax:error', function(event, xhr, status, error) {
                console.log("sorry mate!");
            });

            // ....
        })
    </script>
<% end %>
