<div class="fullwidth-section bg-callout">
	<div class="container">
		<div class="col-md-12 text-center item_bottom">
			<h1 class="white padBottom killMargin">I am available for <strong>Freelancer</strong></h1>
			<a href="#contact" class="scroll btn btn-trans btn-border-w btn-large">Hire Me</a>&nbsp;&nbsp;<a class="btn btn-primary btn-lg" href="#"><i class="fa fa-download"></i> Download Resume</a>
		</div>
	</div>
</div>
