<!-- Resume Section -->
<section id="experience" class="section-content bg2">
<div class="container">
	<div class="row">
		<!-- Section title -->
		<div class="section-title item_bottom text-center">
			<div>
				<span class="fa fa-book fa-2x"></span>
			</div>
			<h1>My <span>Resume</span></h1>
		</div>
		<!-- End Section title -->
	</div>
	<div class="row">
		<ul class="timeline list-unstyled">
			<!-- History Year -->
			<li class="title">Present</li>
			<li class="note item_right">
			<h4>Creative Agency</h4>
			<h5>Project Manager</h5>
			<p class="desc">
				 Lorem Ipsum roin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.
			</p>
			<span class="date">
			DEC 2013 to Present</span>
			<span class="arrow fa fa-play"></span>
			</li>
			<li class="note item_left">
			<h4>Infosys</h4>
			<h5>UI/UX Designer</h5>
			<p class="desc">
				 Lorem Ipsum roin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.
			</p>
			<span class="date">
			JUN 2012 to NOV 2013 </span>
			<span class="arrow fa fa-play"></span>
			</li>
			<li class="note item_right">
			<h4>Micro Web Planet</h4>
			<h5>Web Developer</h5>
			<p class="desc">
				 Lorem Ipsum roin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat. Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, quis bibendum auctor, nisi elit consequat.
			</p>
			<span class="date">
			Jan 2012 MAY 2012 </span>
			<span class="arrow fa fa-play"></span>
			</li>
			<li class="note item_left">
			<h4>Creative Solution</h4>
			<h5>Web Designer</h5>
			<p class="desc">
				 Lorem Ipsum roin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.
			</p>
			<span class="date">
			Jan 2011 to Dec 2012 </span>
			<span class="arrow fa fa-play"></span>
			</li>
			<!-- Education -->
			<li class="title">Education</li>
			<li class="note item_left">
			<h4>Master Degree of Computer Science</h4>
			<h5>Oxford University</h5>
			<p class="desc">
				 This is Photoshop's version Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
			</p>
			<span class="date">
			2012 - 2013 </span>
			<span class="arrow fa fa-play"></span>
			</li>
			<li class="note item_right">
			<h4>Bechelor Degree of Computer Science</h4>
			<h5>Oxford University</h5>
			<p class="desc">
				 Lorem Ipsum. This is Photoshop's version Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
			</p>
			<span class="date">
			2007 - 2011 </span>
			<span class="arrow fa fa-play"></span>
			</li>
			<!-- Start icon -->
			<li class="start fa fa-bookmark"></li>
			<li class="clear"></li>
		</ul>
	</div>
</div>
</section>
<!-- End Experience Timeline Section -->
