<!-- Skill Section -->
<section id="skill" class="section-content bg2">
<div class="container">
	<div class="row">
		<!-- Section Title -->
		<div class="section-title item_bottom text-center">
			<div>
				<span class="fa fa-bar-chart-o fa-2x"></span>
			</div>
			<h1>My <span>Skills</span></h1>
		</div>
		<!-- End Section Title -->
	</div>
	<div class="row text-center item_bottom">
		<div class="col-md-2">
			<div class="chart" data-percent="91">
			<span class="percent">91</span>
			<h4>Photoshop</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</p>
			</div>
		</div>
		<div class="col-md-2 ">
			<div class="chart" data-percent="60">
			<span class="percent">60</span>
			<h4>Illustrator</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="chart" data-percent="75">
			<span class="percent">75</span>
			<h4>HTML</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="chart" data-percent="80">
			<span class="percent">80</span>
			<h4>CSS</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="chart" data-percent="65">
			<span class="percent">65</span>
			<h4>jQuery</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="chart" data-percent="85">
			<span class="percent">85</span>
			<h4>PHP</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</p>
			</div>
		</div>
	</div>
	<div class="row new-line item_bottom">
		<div class="col-md-6">
			<ul class="skillBar">
				<li>
				<div class="skillBg">
					<span data-width="80"><strong>Creative 80%</strong></span>
				</div>
				</li>
				<li>
				<div class="skillBg">
					<span data-width="70"><strong>Leadership 70%</strong></span>
				</div>
				</li>
				<li>
				<div class="skillBg">
					<span data-width="90"><strong>Interpersonal Communication 90%</strong></span>
				</div>
				</li>
			</ul>
		</div>
		<div class="col-md-6">
			<ul class="skillBar">
				<li>
				<div class="skillBg">
					<span data-width="80"><strong>English 80%</strong></span>
				</div>
				</li>
				<li>
				<div class="skillBg">
					<span data-width="99"><strong>French 99%</strong></span>
				</div>
				</li>
				<li>
				<div class="skillBg">
					<span data-width="60"><strong>Spanish 60%</strong></span>
				</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- skills end -->
</div>
</section>
<!-- End Skill Section -->
