<!-- Google maps -->
<div id="map_canvas" class="item_fade_in">
</div>
<!-- End Google maps -->
<footer class="text-center">
<!-- Footer Text -->
<div class="container text-center item_top">
  <%= link_to image_tag("logo.png",:class=>"logo",:alt => "Lic. Gilberto Tovar"), root_path %><br/>
  &copy; Copyright 2014. <%= t :all_rights_reserved %>
    </div>
<!-- End Footer Text -->
</footer>
<!-- Back to top -->
<a href="#" id="back-top"><i class="fa fa-angle-up fa-2x"></i></a>
