<section id="proyect" class="slide-content" >
<div class="container">
    <div class="row">
<h1>Editing proyect</h1>

<%= render 'form' %>

<%= link_to 'Show', [@experience,@proyect], class: "btn btn-primary btn-lg active",  role: "button"  %> |
<%= link_to 'Back', experience_proyects_path(@experience), class: "btn btn-default btn-lg active",  role: "button"  %>
</div>
</div>
</section>
